a
  :color #3B5998
  :cursor pointer
  :text-decoration none

a:hover
  :text-decoration underline !important

html 
  :height 100%

body 
  :font-family Helvetica, sans-serif
  :font-size 13px

#content
  :height 1100px

.vote 
  :height 100%
  :width 100%
  :border-bottom 2px solid #B3B3B3
  :float right


.vtitle 
  :float right
  :font-size 18px
  :width 80%
  :height 30%

.vlink 
  :float right
  :height 80%
  :margin-bottom 2%


.yesnokill
  :width 100% 
  :float right
  :margin-top 20px

.yesnokill 
  .imgwrp
    :float left 
    :width 40%
      div
        :text-align center
    a
      :font-size 13px
      :text-decoration none !important
  img
    :width 50px
    :height 50px
    :border 1px solid

.more a img
  :width 20px
  :height 20px
  :margin-left 10px

.info 
  :color #777
  :font-size 12px
  :float right
  :height 15%

.more
  :color #777
  :font-size 12px
  :float right


.urvote
  :color #777
  :font-size 13px
  :font-weight bold

.stitle
  :color #777
  :font-size 13px

.varea
  :float left
  :width 47%
  :height 100%
.yess
  :border-left 1px solid #EEE;
.darea
  :width 90% !important

.tot 
  :font-weight bold
  :text-align center
  :font-size 16px
  :float right
  :color #777
  :background-color white
  :width 100%
  :padding 5px

.imgsml
  :height 32px
  :width 32px

.left
  :float left

.right
  :float right
  :text-align right

.width
  :width 100%

.height
  :height 100%

.name
  :display table-cell
  :height 32px
  :vertical-align middle
  :text-align center
  :padding-left 4px
  :font-size 11px
  :width 100px
  :white-space pre-wrap;
  :white-space -moz-pre-wrap; 
  :white-space -pre-wrap;
  :white-space -o-pre-wrap;
  :word-wrap break-word;

.nimg
  :height 100%

.imgname
  :padding-top 4px
  :padding-left 4px

.ttlyesno
  :height 20%

.cmnts
  :height 50%

.notvoted
  :font-size 18px
  :color red
  :font-weight bold
  :display none

.loading
  :display none
  :width 32px
  :height 32px

.lefty
  :width 230px
  :border-right 1px solid #B3B3B3

.center
  :width 475px
  :padding 0px 10px

.centerup
  :height 70px

.centermiddle
  :padding-top 10px
  :border-bottom 2px solid #B3B3B3

.vimg
  :height 181px
  :border-bottom 1px solid #EEE;

table
  :direction rtl
  :border-collapse collapse
  td
    :padding 5px 5px 10px 5px
    :border-bottom 1px solid #E9E9E9

.bold
  :font-weight bold
  :font-size 20px

div.fb_dialog
  :top 50px !important
  :left 50px !important

#pagelet_main_nav
  :font-size 14px
  :border-bottom 1px solid #E9E9E9

.whatis
  :text-align right
  h1,h2,h3
    :color #3B5998
  h1
    :font-size 26px
  h1,h2
    :font-size 16px
  h3
   :margin 6px 6px 6px 6px
.text .imgwrp
  :margin-left 4px 
  img
    :width 20px
    :height 20px
  