!!!
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://www.facebook.com/2008/fbml",  xml:lang="en", lang="en")
  head
    - var title = 'קולורבים'
    - if (typeof vote != 'undefined' && vote)
      - title += ' - ' + vote.data.title;
    title= title


    link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", rel="stylesheet", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js")
    link(rel="stylesheet", href="/sass/theme.css?v=31")
    script(src="/sprklines.js")
  body
    #fb-root
    - var json = 'fbparams = ' + JSON.stringify(fbparams) + ';'
    script!= json
    script(src='/fbconnect.js?v=52')
    script(src='/clientvotes.js?v=23')
    #content!= body