!!!
html(xmlns:fb="http://www.facebook.com/2008/fbml")
  head
    - var title = 'iVote'
    - if (typeof vote != 'undefined' && vote)
      - title += ' - ' + vote.data.title;
    title= title
    link(rel="stylesheet", href="/sass/theme.css")
    link(rel="stylesheet", href="/fb1.css")
    link(rel="stylesheet", href="/fb2.css")
    link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", rel="stylesheet", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js")
    script(src="/sprklines.js")
  body
    #fb-root
    script(src='/fbconnect.js')
    script(src='/clientvotes.js')
    #content!= body