!!!
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://www.facebook.com/2008/fbml",  xml:lang="en", lang="en")
  head


  body
    #fb-root
    - var json = 'fbparams = ' + JSON.stringify(fbparams) + ';'
    #content!= 'sdfg'