!!!
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://www.facebook.com/2008/fbml",  xml:lang="en", lang="en")
  head

    link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", rel="stylesheet", type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js")
    link(rel="stylesheet", href="/sass/theme.css?v=35")
    script(src="/sprklines.js")
  body
    #fb-root
    - var json = 'fbparams = ' + JSON.stringify(fbparams) + ';'
    #content!= 'sdfg'