.faq
  .like.left
    iframe(scrolling='no', width='220px', frameborder='0', style='margin-top:20px;border:none;', height='400px', src='http://www.facebook.com/plugins/likebox.php?id=140153199345253&show_faces=true&header=false&height=400&width=220')
  .all.left
    h3
      |פשוט להצביע!
    .text.right
      |כדי להצביע צריך ללחוץ על אחד הכפתורים:
    .text.right
      .imgwrp.right
        img(src='/rlike.png')
    .text.right
      |או
    .text.right
      .imgwrp.right
        img(src='/glike.png')
    br
      .text.right
        |לאחר ההצבעה אפשר לראות מה הצביעו אנשים אחרים
    br
      .text.right
        |באמצע העמוד יש מקום להביע דעה מפורטת ומנומסת :)
    h3
      |מתחת לכותרת קיים מידע נוסף לגבי הנושא שעומד להצבעה:
    br
    .text.right
      .text.right
        |סטטוס ההצעה - לדוגמא: הצעה חדשה, קריאה טרומית, בוועדה, חוק קיים
    .text.right
      .text.right
        .imgwrp
	  |- 
          img(src='/acommittee.png')
      .text.right
        |-  תמלילי וועדות הכנסת - כדאי לקרוא! זה לפעמים מצחיק ולפעמים מטריד!
    .text.right
      .text.right
        .imgwrp
	  |- 
          img(src='/alaw.png')
      .text.right
        |-  הנוסחים של הצעת החוק - החוק משתנה מאוד מנוסח אחד לשני.
    .text.right
      .text.right
        |- 
        span.pie.right(yes='40',no='60',title='yay',h='1.0em')
      .text.right
        |-  תיעוד הצבעות העבר במליאה - כמה הצביעו נגד?
        |מי הצביע בעד?
    br
    .text.right
      h3
        |לא עובד לי! יש לי נושא אחר להצבעה!
      .text
        |בבקשה לכתוב את זה על ה-
        a(target='_blank', href='http://www.facebook.com/apps/application.php?id=140153199345253&v=wall')
          |Wall של קולורבים
      h3
        |מי עומד מאחורי הקולורבים?
      .text
        a(href='http://www.facebook.com/profile.php?id=100001083158634', target='_blank')
          |אני!