.faq
  .like.left
    iframe(scrolling='no', width='220px', frameborder='0', style='margin-top:20px;border:none;', height='400px', src='http://www.facebook.com/plugins/likebox.php?id=140153199345253&show_faces=true&header=false&height=400&width=220')
  .all.left
    .h1
      |קולורבים
    .h2
      |חברים בוחרים
    .clear
    p
      h3
        |פשוט להצביע!
      p 
        |כדי להצביע יש ללחוץ על אחד הכפתורים:
        img(src='/rlike.png')
        | או
        img(src='/glike.png')
        br
        |לאחר ההצבעה אפשר לראות כיצד הצביעו אנשים אחרים.
        br
        |בנוסף, באמצע העמוד יש מקום להביע דעה מפורטת.
    p
      h3
        |מתחת לכותרת, ובהתאם לנושא ההצבעה, מופיעים קישורים למידע נוסף:
      span.pie(yes='40',no='60',title='yay',h='0.9em').right
      p
        | תיעוד הצבעות העבר במליאה - כמה הצביעו נגד?
        | מי הצביע בעד?
        br
        img(src='/acommittee.png')
        | תמלילי וועדות הכנסת - כדאי לקרוא! זה לפעמים מצחיק ולפעמים מטריד!
        br
        img(src='/alaw.png')
        | הנוסחים של הצעת החוק - החוק משתנה מאוד מנוסח אחד לשני.
        br
        img(src='/link.png')
        | קישורים נוספים
        br
        |סטטוס ההצעה - לדוגמא: הצעה חדשה, קריאה טרומית, בוועדה, חוק קיים
    p
      h3
        |יש לך נושא אחר להצבעה?
      p
        |בבקשה לכתוב את זה על ה ---> 
        a(target="_blank", href="http://www.facebook.com/apps/application.php?id=140153199345253&v=wall")
          |Wall של קולורבים
        br
        |ובעצם כל משוב וביקורת יתקבלו בברכה