.pop(title='\u05d4\u05e7\u05e4\u05e6\u05ea\u05d9\u0020\u05d7\u05dc\u05d5\u05df\u0021', dir='rtl')
  p
    |\u05db\u05d3\u05d9\u0020\u05dc\u05d0\u05e4\u05e9\u05e8\u0020\u05dc\u05da\u0020\u05dc\u05d4\u05e6\u05d1\u05d9\u05e2\u0020\u05d0\u05e0\u05d9\u0020\u05d7\u05d9\u05d9\u05d1\u0020\u05dc\u05d6\u05d4\u05d5\u05ea\u0020\u05d0\u05d5\u05ea\u05da
  p
    |\u05d0\u05e0\u05d9\u0020\u05dc\u05d0\u0020\u05de\u05ea\u05db\u05d5\u05d5\u05df\u0020\u05dc\u05e7\u05e9\u05e7\u05e9\u0020\u05e2\u05dc\u0020\u05d4\u05e7\u05d9\u05e8\u0020\u05e9\u05dc\u05da\u0020\u05e8\u05e7\u0020\u05dc\u05e1\u05e4\u05e8\u0020\u05e9\u05d4\u05e6\u05d1\u05e2\u05ea\u0020\u05d1\u05d0\u05d5\u05e4\u05df\u0020\u05d7\u05d3\u0020\u05e4\u05e2\u05de\u05d9
  p
    |\u05dc\u05db\u05df\u0020\u05d4\u05e7\u05e4\u05e6\u05ea\u05d9\u0020\u05d7\u05dc\u05d5\u05df - \u05db\u05d3\u05d9\u0020\u05dc\u05d1\u05e7\u05e9\u0020\u05de\u05de\u05da\u0020\u05e8\u05e9\u05d5\u05ea