.yimg
  .tot.right
    | #{asummary.count} #{asummary.text}
  - var unknown = {data : {name: 'unknown'}};
  - var i = 0;
  - each val, key in asummary.avote.yesno
    - i++;
    - if (!asummary.avote.users[key]) asummary.avote.users[key] = unknown;
    - if (friends && friends[key]  && i < 11)
      != partial('auserpic', [{uid: key, user: asummary.avote.users[key], showname: false}])
  - each val, key in asummary.avote.yesno
    - i++
    - if (!asummary.avote.users[key]) asummary.avote.users[key] = unknown;
    - if ((!friends || (friends && !friends[key])) && i < 11)
      != partial('auserpic', [{uid: key, user: asummary.avote.users[key], showname: false}])
