- var picurl = auserpic.user.data.picture;
  .imgname.left
    - var inref = 'navapp("/votes/all/' + auserpic.uid + '")';
    - var uref = auserpic.user.data.link;
      a(href=uref).left
        img.imgsml(src=picurl, class='friendsimage', title=auserpic.user.data.name)
      - if (auserpic.showname)
        .name
          div.what= auserpic.user.data.name