.tot.right
  | #{xsummary.count} #{xsummary.text}
- var unknown = {data : {name: 'unknown'}};
.yimg
  - each val, key in vote.yesno
    - if (!vote.users[key]) vote.users[key] = unknown;
    - if (friends && friends[key])
      != partial('auserpic', [{uid: key, user: vote.users[key], showname: true}])
  - each val, key in vote.yesno
    - if (!vote.users[key]) vote.users[key] = unknown;
    - if (!friends || (friends && !friends[key]))
      != partial('auserpic', [{uid: key, user: vote.users[key], showname: true}])
 
