.content.height.width.left
  .lefty.height.left
    .vimg.width
      #pagelet_main_nav
        ul.uiSideNav.mtm#fbCoreAppsNav(dir='rtl')
          != partial('../_votes/nav', [{what: '\u05de\u05d4\u0020\u05d6\u05d4\u0020\u05d6\u05d4\u003f', where: '/whatisit.html', class: '', img: '/whatisit.png'}, {what: '\u05db\u05dc\u0020\u05d4\u05d4\u05e6\u05d1\u05e2\u05d5\u05ea', where: '/votes/all', class: '', img: '/vlogo.png'}])
  .center.height.left(dir='rtl')	  
    h1
      |קולורבים
    h2
      |בוחרים עם חברים
    h3
      |פשוט להצביע!
    .text
      |כדי להצביע עליך להכנס לעמוד של הצבעה כלשהי וללחוץ על אחד הכפתורים:
      |או     
      |שינת את דעתך? זה בסדר, פשוט הצבע שנית.
    h3
      |ו.. זהו?
    .text
      |תלוי בך. אפשר גם:
      |להביע דעה מפורטת יותר,
      |לדרג תגובות של אחרים,
      |להגיב עליהן באופן ישיר
      |ולשתף חברות בתגובות נבחרות
      |ואם לוחצים על תמונה של מישהי רואים באילו הצבעות היא השתתפה
      |ניתן גם לראות את כל ההצעות שנמצאות בתוך הקולורבים
      |מה, כל הנושאים קשורים לפוליטיקה?
      |ממש לא בהכרח. הרעיון נולד בהקשר הפוליטי ולכן זהו האופי הראשוני.
      |אבל מכאן ואילך הכל תלוי בך ובחברים שלך.
    h3
      |אפשר להציע הצעות להצבעה בעצמי?
    .text
      |ברור!  אפשר לעשות את זה ממש פה
      |קשה לי להחליט מה להצביע
      |אפשר להתחיל מתחושת בטן ופשוט להצביע, ואז לשתף חברים בדילמה שלך.
      |אם הנושא הוא פוליטי (הצעת חוק למשל), אפשר לקבל מידע מפורט לגביו בדף ההצבעה
      |סטטוס ההצעה - לדוגמא: הצעה חדשה, קריאה טרומית, בוועדה, חוק קיים
      |תמלילי וועדות הכנסת - כדאי לקרוא! זה לפעמים מצחיק ולפעמים מטריד!
      |הנוסחים השונים של הצעת החוק - החוק משתנה מאוד מנוסח אחד לשני. אולי גם דעתך תשתנה..
      |תיעוד הצבעות העבר במליאה - כמה הצביעו נגד? מי הצביע בעד?
    h3
      |לא עובד לי!
    .text
      |מה לא עובד לך? בדקת אם הכבל רשת מחובר? עדיין לא עובד? בבקשה לכתוב את זה על ה- Wall של קולורבים
    h3
      |מי עומד מאחורי הקולורבים?
    .text
      |אני!
    h3
      |מה צופן העתיד לקולורבים?
    .text
      |מי יודע..